@import '../../../assets/style/main.scss';
@import '../../../assets/style/vars.scss';

.container {
  margin-top: 32px;

  & > button {
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 32px;
  }

  & > .productBlock {

    & > .productBlockDateTitle {
      & > .productBlockDate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 154px;
        height: 40px;
        background-color: rgba(42, 47, 55, 0.06);
        margin-bottom: 24px;
      }
      & > .productBlockTitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: $text-color;
        margin-bottom: 24px;
      }

      & > .productBlockSerialNumber {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: $text-color;
        opacity: .8;
        margin-bottom: 24px;
      }
      & > .productBlockViews {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;

        & > svg {
          margin-right: 8px;
        }

        & > span {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          color: $title-color;
          opacity: .4;
        }
      }
    }

    & > .productBlockFoto {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "activFoto activFoto activFoto activFoto" "fotoOne fotoTwo fotoThree fotoFour";
      gap: 24px 40px;

      & > img {
        width: 100%;

        &:hover {
          border-radius: 4px;
          outline: 3px solid #FFAC28;
        }
      }

      & > .activFoto {
        grid-area: activFoto;

        &:hover {
          border-radius: none;
          outline: none;
        }
      }
    }
  }
}