@import 'normalize';
@import 'vars';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: $text-color;
  font-family: $text;
  font-size: $text-size;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  color: $title-color;
  font-family: $title;
  font-size: $title-size;
}
a {
  color: $link-yellow-text-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
.container {
  width: calc(808px + (1280 - 808) * ((100vw - 768px) / (1920 - 768)));
  height: 100%;
  margin: auto;

  @media(max-width: 992px) {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  @media(max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.active {
  color: $sub-color-two;
  border-bottom: 2px solid $sub-color-two;
}
