@import 'normalize';
@import 'vars';

body {
  color: $text-color;
  font-family: $text;
  font-size: $text-size;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  color: $title-color;
  font-family: $title;
  font-size: $title-size;
}
a {
  color: $link-yellow-text-color;
  text-decoration: none;
}
.container {
  max-width: calc(288px + (1280 - 288) * ((100vw - 320px) / (1920 - 320)));
  margin: auto;
}
.active {
  color: $link-yellow-text-color;
}
