* {
  padding: 0;
  margin: 0;
}
.ProductItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(320px + (1620 - 320) * ((100vw - 320px) / (1920 - 320)));
  height: 50vh;
  border-bottom: 3px solid #816348;
  padding: 20px;
}
.ProductItemImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.ProductItemImg img {
  display: block;
  height: 100%;
}
.ProductItemSetting {
  width: 50%;
}
.ProductItemDescription {
  margin-bottom: 30px;
}
.ProductItemTitle {
  margin-bottom: 20px;
}
.ProductItemNumberPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.ProductItemNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProductItemNumberBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.ProductItemNumberBtn svg{
  width: 30px;
  height: 30px;
}
.ProductItemNumberFig {
  font-size: 30px;
  color: #816348;
  padding: 10px;
}
.ProductItemPrice {
  font-size: 24px;
  color: #816348;
}
.ProductItemTotalPay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ProductItemTotal {
  font-size: 24px;
  color: #816348;
}
.ProductItemPay {
  background: transparent;
  border: none;
  text-align: left;
  font-size: 24px;
  color: #816348;
  cursor: pointer;
}
.ProductItemPay svg {
  display: block;
  width: 100%;
}
.ProductItemPayWrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.ProductItemTotal {
  margin-bottom: 30px;
}

