@import '../../../assets/style/vars.scss';
@import '../../../assets/style/main.scss';

.header {
  grid-area: header;
  background-color: $second-main-color;
  z-index: 10;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & > .logo {
      margin-right: calc(20px + (92 - 20) * ((100vw - 768px) / (1920 - 768)));
    }

    & .wrapperBtnAccaunt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: calc(20px + (105 - 20) * ((100vw - 768px) / (1920 - 768)));

      & > .submitAdvertisement {
        margin-right: calc(0px + (56 - 0) * ((100vw - 768px) / (1920 - 768)));

        @media(max-width: 768px) {
          display: none;
        }
      }
      & > .profileContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
        & > .authLink {
          margin-left: 12px;
          font-size: $text-size;
          font-weight: 400;
          color: #424242;
        }
  
        @media(max-width: 992px) {
          & {
            display: none;
          }
        }
      }

      & > .lockBurger{
        display: none;
  
        @media(min-width:768px) and (max-width: 992px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          & > .lock {
            width: 24px;
            height: 24px;
            margin-right: 24px;
            margin-left: 24px;
          }
        }
      }
      & > .mobileLockSearch {
        display: none;
  
        @media(max-width:768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          & > a {
            margin-right: 16px;
  
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    
    @media(max-width: 992px) {
      & {
        max-width: 100%;
        margin-right: 24px;
        margin-left: 24px;  
      }
    }
    @media(max-width: 768px) {
      margin-right: 20px;
      margin-left: 20px;
      
      & {
        position: relative;

        & > .logo {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
        }
      }
    }

    & > .mobileBurger {
      display: none;
      
      @media(max-width: 768px) {
        display: block;
        margin-top: -3px;
      }
    }
      & > .searchProductInput {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(286px + (565 - 286) * ((100vw - 768px) / (1920 - 768)));

        @media(max-width:768px) {
          display: none;
        }
    
      & > .btnSearch {
        background-color: $button-blue-color;
        border: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        font-family: $text;
        font-size: $text-size;
        font-weight: 500;
        color: $link-blue-text-color;
        min-width: 96px;
        height: 36px;
        cursor: pointer;
      }
    }
  }
}