@import '../../../../assets/style/vars.scss';

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  & > a {
    font-size: 12px;
    color: $sub-color-two;
  }
}