@import '../../../assets/style/main.scss';
@import '../../../assets/style/vars.scss';

.mainMenu {
  width: 100%;
  height: 100%;
  margin-bottom: calc(32px + (80 - 32) * ((100vw - 320px) / (1920 - 320)));
  overflow-x: hidden;
  margin-top: -100px;

  &::-webkit-scrollbar {
   width: 0;
  }

  & > .container > .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin-right: calc(24px + (40 - 24) * ((100vw - 768px) / (1920 - 768)));
    white-space: nowrap;
    font-size: 16px;
    color:  $title-color;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-bottom: none;
      background-color: $button-yellow-color;
      color:  $title-color;
      padding: 8px 24px 8px 24px;
      border-radius: 35px;

      &:hover {
        border: none;
        color:  $title-color;
      }
    }

    &:hover {
      border: 1px solid $sub-color-two;
      color:  $sub-color-two;
      padding: 8px 24px 8px 24px;
      border-radius: 35px;
    }
  }
}
}