@import '../../../../../assets/style/vars.scss';

.wrapper {
  position: relative;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;

  & > input {
    width: 100%;
    height: 100%;
    background-color: $main-color;
    border-radius: 4px; 
    border: 1px solid rgba(42, 47, 55, 0.08);
    padding-left: 14px;
    padding-top: 12px;
    font-size: $text-size;

      &:focus {
        border-bottom: 2px solid $sub-color-two;
        outline: none;
      }

      &.notValid {
        border-bottom: 2px solid #D50000;
      }
    }

  & > span {
    position: absolute;
    left: 16px;
    top: 4px;
    font-size: 12px;
    color: $text-color-lite-grey;
  }
  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-size: 12px;
    outline: none;
  }
}
