@import 'antd/dist/antd.css';

span {
  display: flex;
  overflow: hidden;

  & > div:first-child {
    & > span {
      & > button {
        display: flex;
        align-items: center;
        height: auto;
        padding: 8px 24px;

        &:hover {
          color: #3A95FF;
          border: 1px solid #3A95FF;
        }
        &:focus {
          color: #3A95FF;
          border: 1px solid #3A95FF;
        }
      }
    }
  }

  & > div:last-child {
    display: flex;

    & > div {
      margin-left: 27px;

      & > div > div > div.ant-tooltip {
        display: none;
      }
    }
  }
}