@import '../../../../assets/style/vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;

  & > span {
    font-family: $text;
    font-size: $text-size;
  }

  & > input {
    font-size: $title-size;
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;

  & > span {
    font-family: $text;
    font-size: $text-size;
  }

  & > input {
    font-size: $title-size;
    border-right: none;
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(0, 50%);
    border: none;
    background: transparent;
    cursor: pointer;
  }
}